/*==== Google Fonts====*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
/*====Global CSS====*/
:root{
    --main-color: #00a78e;
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.2);
    --black-900:#000;
    --black-400:#646f87;
    --black-100:#f7f7f7;
    --white:#fff;
    --black-alpha-100:rgba(0,0,0,0.5);
}
body{
    font-family: "Lobster";
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white);
}
ul{
    list-style: none;
}
*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin:auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
/*====Navbar====*/
.navbar{
    position: fixed;
    z-index: 999;
    width:100%;
    background-color: var(--main-color);
    padding:25px;
}
.navbar .logo a{
    font-size: 30px;
    color: var(--black-100);
    font-weight: 600;
    text-transform: capitalize;
}
.navbar .logo a span{
color: var(--black-400);
}
.navbar .menu .nav-item{
    display:inline-block;
    position:relative;
    margin-left:50px;
}
.navbar .menu .nav-item .nav-link{
    color: var(--black-100);
    font-size: 20px;
    font-weight: 600;
    display:block;
    text-transform: capitalize;
    padding: 10px 0;
}
.navbar .nav-item .nav-link span{
    width:0;
    height:2px;
    background-color: var(--black-100);
    position: absolute;
    left:0;
    bottom:0;
    border-radius: 50px;
    opacity:0;
    visibility: hidden;
    transition:all 03s ease-out 0;
}
.navbar .nav-item .nav-link span::before{
    position:absolute;
    content: "";
    width:0;
    height: 2px;
    background-color: var(--black-100);
    left:110%;
}

.navbar .nav-item .nav-link span::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--black-100);
    left: 140%;
}
.navbar .nav-item > .nav-link.active,
.navbar .nav-item:hover>.nav-link{
    color:var(--black-400)

}
.navbar .nav-item > .nav-link.active span,
.navbar .nav-item:hover>.nav-link span{
    opacity:1;
    visibility: visible;
    width: 60%;
    background-color: var(--black-400);
}
.navbar .nav-item>.nav-link.active span::before,
.navbar .nav-item:hover>.nav-link span::before {
    width: 20%;
background-color: var(--black-400);
}
.navbar .nav-item>.nav-link.active span::after,
.navbar .nav-item:hover>.nav-link span::after{
    width:15%;
    background-color: var(--black-400);
}