.project{
    background: linear-gradient(to bottom,#00a78e, #141272);
        height: 400px;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
}