.project{
    background: linear-gradient(to right,#00a78e, #2c5362);
        height: 400px;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
}